@using IndividualInfo.Models
@model IEnumerable<IndividualInfo.Models.Individual>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
<h2>لیست افراد</h2>
<table id="individualTable" class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <td>ردیف</td>
        <td>نام</td>
        <td>سمت</td>
        <td><i class="fa fa-intersex" style="font-size:22px"></i></td>
        <td> مستقیم &nbsp; <span class="glyphicon glyphicon-phone-alt"></span></td>
        <td> داخلی &nbsp;<span class="glyphicon glyphicon-earphone"></span></td>
        <td><span class="glyphicon glyphicon-phone"></span></td>
        <td>توضیحات</td>
        <td>حذف / ویرایش</td>
    </tr>
    </thead>
    
    <tbody>
    @{ var i = 0;}
    @foreach (var person in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@person.Name</td>
            <td>@person.Semat.Name</td>
            @if (person.Gender == true)
            {
                <td><i class="fa fa-female" style="font-size: 18px;"></i></td>
            }
            else if (person.Gender == null)
            {
                <td>--</td>
            }
            else
            {
                <td><i class="fa fa-male" style="font-size: 18px;"></i></td>
            }
            <td>@person.TelDirect</td>
            <td>@person.TelDakheli</td>
            <td>@person.Mobile</td>
            <td>@person.Description</td>
            <td>
                <a href="@Url.Action("Edit", "Individuals", new {id = person.Id})"><span class="glyphicon glyphicon-edit" title="...ویرایش"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn-link js-delete" data-person-id="@person.Id"><span class="glyphicon glyphicon-remove" title="Remove"></span></button> </td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    @*<script src='https://kit.fontawesome.com/a076d05399.js'></script>*@
    <script>
        $(document).ready(function () {
            var individualTable = $("#individualTable");
            individualTable.on("click", ".js-delete",
                function () {
                    var delButton = $(this);
                    //var delbtn = this;
                    bootbox.confirm("آیا مطمئن هستید که این رکورد حذف شود؟",
                        function(respond) {
                            if (respond) {
                                $.ajax({
                                    url: "/api/individuals/" + delButton.attr("data-person-id"),
                                    method: "Delete",
                                    success: function() {
                                        console.log("successfully deleted");
                                        delButton.parents("tr").remove();
                                    }
                                });
                            }
                        });
                    console.log("salam");
                });
        });
    </script>

}
